[Unit]
Description=Nokia 2690 bluetooth SMS reader using gammu
After=multi-user.target bluetooth.service

[Service]
User=%i
WorkingDirectory=/content/SMS
ExecStart=/content/SMS/smsreader.py

[Install]

